@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);







body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Open Sans', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Open Sans', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Open Sans', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Open Sans', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #41a85f !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #faaf40 !important;
}
.btn-primary {
  background-color: #41a85f;
  border-color: #41a85f;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #2c7140;
  border-color: #2c7140;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2c7140 !important;
  border-color: #2c7140 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #faaf40;
  border-color: #faaf40;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #e78d06;
  border-color: #e78d06;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #e78d06 !important;
  border-color: #e78d06 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #255e35;
  color: #255e35;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #41a85f;
  border-color: #41a85f;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #41a85f !important;
  border-color: #41a85f !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #cf7d05;
  color: #cf7d05;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #faaf40;
  border-color: #faaf40;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #faaf40 !important;
  border-color: #faaf40 !important;
}
.text-primary {
  color: #41a85f !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #faaf40 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #faaf40;
}
.btn-social {
  border-color: #41a85f;
}
.btn-social:hover {
  background: #41a85f;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #41a85f;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #41a85f;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #41a85f;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #41a85f;
}
.lead a,
.lead a:hover {
  color: #41a85f;
}
.lead blockquote {
  border-color: #41a85f;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #93d5a6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #41a85f;
}
#menu-1 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1 .navbar-caption {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}
#menu-1 .navbar-toggler {
  color: #ffffff;
}
#menu-1 .close-icon::before,
#menu-1 .close-icon::after {
  background-color: #ffffff;
}
#menu-1 .link,
#menu-1 .dropdown-item {
  color: #ffffff;
}
#menu-1 .link {
  font-size: 1.05rem;
}
#menu-1 .dropdown-item,
#menu-1 .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-1 .link:hover,
#menu-1 .dropdown-item:hover,
#menu-1 .link:focus,
#menu-1 .dropdown-item:focus {
  color: #41a85f;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-menu {
  background: #0e0e0e;
}
#menu-1 .nav-dropdown-sm .link:focus,
#menu-1 .nav-dropdown-sm .link:hover,
#menu-1 .nav-dropdown-sm .dropdown-item:focus,
#menu-1 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1 .navbar,
#menu-1 .nav-dropdown-sm,
#menu-1 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1 .bg-color.transparent.opened .link:hover,
#menu-1 .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#header1-0 .mbr-section-title {
  font-size: 60px;
}
#header3-5 .mbr-section-title,
#header3-5 .mbr-section-subtitle {
  text-align: center;
}
#features4-6 .card-subtitle {
  color: #bcbcbc;
}
#features4-6 .iconbox {
  background-color: #41a85f;
  border-color: #41a85f;
}
#features4-7 .card-subtitle {
  color: #bcbcbc;
}
#features4-7 .iconbox {
  background-color: #41a85f;
  border-color: #41a85f;
}
#msg-box8-3 .mbr-section-title,
#msg-box8-3 p {
  color: #fff;
}
#msg-box8-3 .lead H4 {
  color: #ffffff;
  text-align: center;
}
#msg-box8-3 .mbr-section-title {
  color: #ffffff;
}
#msg-box8-3 .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
#header3-8 .mbr-section-title,
#header3-8 .mbr-section-subtitle {
  text-align: center;
}
#gallery2-9 .mbr-gallery-item > div > span B {
  text-align: right;
}
#gallery2-9 .mbr-gallery-item > div > span DIV {
  text-align: left;
}
#gallery2-9 .mbr-gallery-item > div > span {
  text-align: left;
}
#msg-box8-t .mbr-section-title,
#msg-box8-t p {
  color: #fff;
}
#msg-box8-t .lead H4 {
  color: #ffffff;
  text-align: center;
}
#msg-box8-t .mbr-section-title {
  color: #ffffff;
}
#msg-box8-t .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
#header3-f .mbr-section-title,
#header3-f .mbr-section-subtitle {
  text-align: center;
}
#features3-y H4 {
  font-size: 18px;
}
#features3-e H4 {
  font-size: 18px;
}
#features3-g H4 {
  font-size: 18px;
}
#features3-u H4 {
  font-size: 18px;
}
#features3-v H4 {
  font-size: 18px;
}
#slider-x H2 {
  text-align: center;
  font-size: 60px;
}
#slider-x P {
  text-align: center;
}
#slider-x B {
  font-family: 'Open Sans', sans-serif;
}
#contacts2-10 P {
  color: #ffffff;
}

#menu-j .hide-buttons .nav-btn {
  display: none !important;
}
#menu-j .navbar-caption {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}
#menu-j .navbar-toggler {
  color: #ffffff;
}
#menu-j .close-icon::before,
#menu-j .close-icon::after {
  background-color: #ffffff;
}
#menu-j .link,
#menu-j .dropdown-item {
  color: #ffffff;
}
#menu-j .link {
  font-size: 1.05rem;
}
#menu-j .dropdown-item,
#menu-j .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#menu-j .link:hover,
#menu-j .dropdown-item:hover,
#menu-j .link:focus,
#menu-j .dropdown-item:focus {
  color: #41a85f;
}
#menu-j .link[aria-expanded="true"],
#menu-j .dropdown-menu {
  background: #0e0e0e;
}
#menu-j .nav-dropdown-sm .link:focus,
#menu-j .nav-dropdown-sm .link:hover,
#menu-j .nav-dropdown-sm .dropdown-item:focus,
#menu-j .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-j .navbar,
#menu-j .nav-dropdown-sm,
#menu-j .nav-dropdown-sm .link[aria-expanded="true"],
#menu-j .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-j .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-j .bg-color.transparent.opened .link:hover,
#menu-j .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-j .link[aria-expanded="true"],
#menu-j .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#msg-box5-m H3 {
  text-align: left;
  font-size: 36px;
}
#msg-box5-n H3 {
  font-size: 36px;
}
#msg-box5-p H3 {
  text-align: left;
  font-size: 36px;
}
#header3-q .mbr-section-title,
#header3-q .mbr-section-subtitle {
  text-align: center;
}
#header3-q H3 {
  color: #ffffff;
}
#features1-r .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#content5-o .mbr-section-title,
#content5-o p {
  color: #fff;
}
#contacts3-k LI {
  color: #ffffff;
}
#contacts3-k STRONG {
  text-align: left;
}
